# Ignore data files
data/
*.csv
*.xlsx
*.pkl
*.h5
*.pth
*.pt
*.parquet
*.json
*.zip
*.bin
*.rar
*.db
*.pyc
*.zip

# Ignore image files
*.png
*.jpg
*.jpeg

# Ignore cache and log directories
logs/
**logs**
.run/
.history/
**__pycache__/
common/cache/
logging_logs/
cache/**

# Ignore Jupyter notebook checkpoints
**.ipynb_checkpoints/
**.ipynb_c*
**.ipynb_aml*
*.ipynb

# Ignore IDE and virtual environment files
.idea*
.venv/
venv/
**venv**
.idea/**

# Ignore temporary files
*tmpfile*
temp/*
tmp*
**tmp**
**temp**
**tempCodeRunnerFile.python

# Ignore AML files
.aml*

# Ignore specific directories
plots*/**
nbeats*/**
research/
amazon_reviews/


# Allow specific files
!.py
!.*ignore
!xiom_optimized/assets/
!common.cache_manager.py
!xdemand/utils/cache_manager.py
!amazon_reviews/chroma.sqlite3