# Data files
*.csv
*.pkl
*.parquet
*.zip
*.rar
*.xlsx
*.db
*.py[cod]
*.xml

# Logs
*.log
**logs/**
logging_logs/**

# Temporary files
*tmpfile*
tmp*
**tmp**
temp/*
**temp**

# Images
*.png
*.jpg
*.jpeg


# Project-specific directories
data/**
plots*/**
nbeats*/**
cache/**
data/
.history/
.run/
.venv/
**__pycache__/
# Exceptions
!.py
!.ipynb
!logging_logs/test_model.log
!xdemand/machine_learning/ModelCache.py
!xiom_optimized/assets/img.png
!common/cache_manager_joblib.py
!xiom_optimized/utils/cache_manager_flask.py

.idea/
*.pyc
/cache-price-recommender/
/.run/
/.venv/
/downloaded_pdfs/
